.header {
  padding: 0 1em;
  display: flex;
  align-items: center;
  background-color: var(--header-color-desktop);
  color: var(--theme-black);
}

.header__label {
  padding: 0.2em;
  border: 1px solid var(--theme-green);
  margin: 0.5em;
}

.header__sub-label {
  color: var(--theme-red);
  letter-spacing: 0.2em;
}