.header {
  padding: 0 1em;
  display: flex;
  align-items: center;
  background-color: var(--theme-black);
  color: var(--theme-white);
}

.header__label {
  padding: 0.2em;
  border: 1px solid var(--theme-yellow);
  margin: 0.5em;
}

.header__sub-label {
  color: var(--theme-blue);
  letter-spacing: 0.1em;
}