.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: var(--theme-dark-blue);
  color: var(--theme-white);
  font-size: 0.8em;
}

.you-text,
.url-text {
  flex: 1 0 auto;
  display: block;
  color: var(--theme-red);
}

.url-text {
  color: var(--theme-yellow);
}
