.face-drop {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.face-drop:hover {
  cursor: pointer;
}

.clickHere {
  color: var(--theme-dark-blue);
}

.aFace {
  color: var(--theme-red);
}
