.App {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav main main"
    "footer footer footer";
  
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: main;
  margin-right: 0.5em;
}

footer {
  grid-area: footer;
}

@media (max-width: 690px) {
  .App {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(50px, auto) /* Nav */
      1fr /* Content */
      auto; /* Footer */
    grid-gap: 0;
  }

  main {
    margin: 0;
  }

  nav {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .App {
    margin: 0 20%;
  }
}
